* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.main-content {
    background: url("../Media/expedition_hero.jpg");
    height: 550px;
    width: 100%;
    background-repeat: no-repeat;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    width: 100%;
    
}
.nav-bar ul li {
    display: inline;
    border-left: 1px solid rgb(77, 74, 74);
    color: #333;
    padding: 12px 18px 10px 18px;
    color: white;

}
.nav-bar ul {
    border: 1px solid rgb(77, 74, 74);
    border-radius: 4px;
    width: 845px;
    height: 36px;
    line-height: 18px;
    background: -webkit-linear-gradient(bottom, #666,#5e5e5e 50%,#707070 50%, #808080); /* Chrome10+, Safari5.1+ */
    background: -moz-linear-gradient(bottom, #666,#5e5e5e 50%,#707070 50%, #808080);    /* FF3.6+ */
    background: linear-gradient(bottom, #666,#5e5e5e 50%,#707070 50%, #808080);      /* W3C */
}
.nav-bar ul li input {
    border-radius: 12px;
    margin-top: 6px;
    width: 120px;
    padding: 0px 0px 0px 0px;
    background: -webkit-linear-gradient(bottom, #666,#5e5e5e 50%,#707070 50%, #808080); /* Chrome10+, Safari5.1+ */
    background: -moz-linear-gradient(bottom, #666,#5e5e5e 50%,#707070 50%, #808080);    /* FF3.6+ */
    background: linear-gradient(bottom, #666,#5e5e5e 50%,#707070 50%, #808080);      /* W3C */
}
.main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 100%;
    color: white;
    margin-top: 150px;
}
.main-text a{
    text-decoration: none;
    color: white;
}
.main-text ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-text ul li {
    margin-bottom: 30px;
    text-align: center;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    line-height: 36px;
    font-weight: lighter;
}
.main-text ul h1{
    font-size: 34px 
}
.main-text ul h2{
    font-size: 26px 
}
.main-text ul h3{
    font-size: 22px 
}
.main-text ul h3 i {
    padding-left: 20px;
}
